## Final Project Submission

Please fill out:
* Student name: Peter Kimani
* Student pace: full time
* Instructor name: Mwikali

# Analysis of Aircraft incidents and crashes from 1962-2023
 Our Company is expanding into the aviation industry. In this notebook we will explore a file containing data from NTSB: Aviation_Data. This file contains logs of varying aircraft incidents and crashes from the year 1962 to 2023. Using this data we will assess the risk and determine the viability of several aircraft based on the findings

In [27]:
#Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Data Understanding

### Open Aviation_data.csv and have a look at the Data

In [28]:
df = pd.read_csv('data/Aviation_data.csv')  # Reads Aviation_data and copies it to variable df

print(df.shape)
df                                 # Displays first and last 5 rows

(90348, 31)

c:\Users\Peter Kimani\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

### Display all the columns to have the range of the data

In [29]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [30]:
df.info() #display the type of data in each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

### Explore some Columns and the unique values

In [31]:
df['Purpose.of.flight'].value_counts()

Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [32]:
df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

In [33]:
#display injury severity as a percentage for better context
df['Injury.Severity'].value_counts(normalize=True)*100

Non-Fatal     76.638715
Fatal(1)       7.016805
Fatal          5.987097
Fatal(2)       4.222371
Incident       2.524776
                ...
Fatal(56)      0.001138
Fatal(64)      0.001138
Fatal(265)     0.001138
Fatal(54)      0.001138
Fatal(21)      0.001138
Name: Injury.Severity, Length: 109, dtype: float64

#### Combine Make and Model to differenciate models from the same manufacturer

In [34]:
#new dataframe to investigate which make and model has the most accidents
make_model = df['Make'] + ' ' +  df['Model'] 
make_model.value_counts()

Cessna 152                 2168
Cessna 172                 1254
Cessna 172N                 996
Piper PA-28-140             812
Cessna 150                  716
                           ...
Parker ROTORWAY EXEC 90       1
Boeing 777-300                1
RAVIRAJ MOHIL CCX-2000        1
Burnett STARDUSTER TOO        1
Piper PA=31-350               1
Length: 20130, dtype: int64

## Data Cleaning

### Find out and delete the columns with the most missing values that are not useful in the assessment

In [35]:
df.isna().sum().sort_values(ascending = False) #shows the total number of missing values per column

Schedule                  77766
Air.carrier               73700
FAR.Description           58325
Aircraft.Category         58061
Longitude                 55975
Latitude                  55966
Airport.Code              40099
Airport.Name              37558
Broad.phase.of.flight     28624
Publication.Date          16689
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Fatal.Injuries      12860
Engine.Type                8536
Report.Status              7840
Purpose.of.flight          7651
Number.of.Engines          7543
Total.Uninjured            7371
Weather.Condition          5951
Aircraft.damage            4653
Registration.Number        2776
Injury.Severity            2459
Country                    1685
Amateur.Built              1561
Model                      1551
Make                       1522
Location                   1511
Event.Date                 1459
Accident.Number            1459
Event.Id                   1459
Investigation.Type            0
dtype: int64

### Drop columns with numerous missing rows and those that are not relevant

In [36]:
#using new dataframe to have a reference point at this stage
df_clean = df.drop(['Schedule','Air.carrier','FAR.Description','Longitude','Accident.Number',
'Latitude','Airport.Code','Airport.Name','Registration.Number','Amateur.Built','Injury.Severity'],axis=1)

df_clean.columns

Index(['Event.Id', 'Investigation.Type', 'Event.Date', 'Location', 'Country',
       'Aircraft.damage', 'Aircraft.Category', 'Make', 'Model',
       'Number.of.Engines', 'Engine.Type', 'Purpose.of.flight',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Report.Status', 'Publication.Date'],
      dtype='object')

In [37]:
df_clean.head()

,Event.Id,Investigation.Type,Event.Date,Location,Country,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,1948-10-24,"MOOSE CREEK, ID",United States,Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,1962-07-19,"BRIDGEPORT, CA",United States,Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,1974-08-30,"Saltville, VA",United States,Destroyed,NaN,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,1977-06-19,"EUREKA, CA",United States,Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,1979-08-02,"Canton, OH",United States,Destroyed,NaN,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

### Delete duplicates

In [38]:
df_clean.duplicated().sort_values(ascending=False)

83872     True
86122     True
84971     True
82894     True
86119     True
         ...
59304    False
59305    False
59306    False
59307    False
0        False
Length: 90348, dtype: bool

In [39]:
df_clean = df_clean.drop_duplicates(keep='first',ignore_index=True)

### Dealing with wrong formats

These columns have a combination of formats, with would affect any visualizations in future

In [40]:
df_clean['Make'] = df_clean['Make'].str.title()

In [41]:
df_clean['Location'] = df_clean['Location'].str.upper()

In [42]:
df_clean['Location'].value_counts()

ANCHORAGE, AK                 548
MIAMI, FL                     275
HOUSTON, TX                   270
ALBUQUERQUE, NM               265
CHICAGO, IL                   256
                             ...
JOHNS ISLE, SC                  1
MCARTHUR RIVE M, AUSTRALIA      1
PLANO, IL                       1
HERTSBORO, AL                   1
BARANQUILLA, COLOMBIA           1
Name: Location, Length: 21978, dtype: int64

### Drop null values for numeric values

Each of these Columns have missing values dropping the missing values would not affect the dataframe or the findings

In [43]:
df_clean.select_dtypes(include=float)

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,1.0,2.0,0.0,0.0,0.0
1,1.0,4.0,0.0,0.0,0.0
2,1.0,3.0,NaN,NaN,NaN
3,1.0,2.0,0.0,0.0,0.0
4,NaN,1.0,2.0,NaN,0.0
...,...,...,...,...,...
88925,NaN,0.0,1.0,0.0,0.0
88926,NaN,0.0,0.0,0.0,0.0
88927,1.0,0.0,0.0,0.0,1.0
88928,NaN,0.0,0.0,0.0,0.0
88929,NaN,0.0,1.0,0.0,1.0

In [44]:
df_clean.select_dtypes(include=float).isna().sum()

Number.of.Engines          6150
Total.Fatal.Injuries      11467
Total.Serious.Injuries    12572
Total.Minor.Injuries      11995
Total.Uninjured            5977
dtype: int64

In [49]:
df_clean = df_clean.dropna(subset=['Number.of.Engines','Total.Fatal.Injuries','Total.Serious.Injuries', 'Total.Minor.Injuries',
'Total.Uninjured']).reset_index(drop=True)

In [50]:
df_clean

,Event.Id,Investigation.Type,Event.Date,Location,Country,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,1948-10-24,"MOOSE CREEK, ID",United States,Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,1962-07-19,"BRIDGEPORT, CA",United States,Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20001218X45448,Accident,1977-06-19,"EUREKA, CA",United States,Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
3,20001218X45446,Accident,1981-08-01,"COTTON, MN",United States,Destroyed,NaN,Cessna,180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001
4,20020909X01562,Accident,1982-01-01,"PULLMAN, WA",United States,Substantial,Airplane,Cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69611,20221213106455,Accident,2022-12-13,"LEWISTOWN, MT",United States,Substantial,Airplane,Piper,PA42,2.0,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022
69612,20221215106463,Accident,2022-12-14,"SAN JUAN, PR",United States,Substantial,Airplane,Cirrus Design Corp,SR22,1.0,NaN,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
69613,20221219106475,Accident,2022-12-15,"WICHITA, KS",United States,Substantial,Airplane,Swearingen,SA226TC,2.0,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022
69614,20221219106470,Accident,2022-12-16,"BROOKSVILLE, FL",United States,Substantial,Airplane,Cessna,R172K,1.0,NaN,Personal,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022
69615,20221227106497,Accident,2022-12-26,"PAYSON, AZ",United States,Substantial,Airplane,American Champion Aircraft,8GCBC,1.0,NaN,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022

## Data Analysis

In [51]:
df_analysis = df_clean